* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--fontText);
    color: var(--textColor);
    background-color: var(--lightGreyColor);
    padding: var(--spaceLg);
}
:root {
    /* COLORS */
    --textColor: #5D666A;
    --mainColor: #0275FF;
    --lightGreyColor: #F0F0F0;
    
    --whiteColor: #FFFFFF;
    --detailGreyColor: #87929F;

    --orangeColor: #FF9800;
    --detailOrangeColor: #FFE0B3;
    
    /* FONTS */
    --fontText: "Outfit", sans-serif;
    --resultFont: 2.5rem;

    /* SPACING */
    --spaceUnit: 1.25rem; /* 20px */
    --spaceXxs: calc(0.25 * var(--spaceUnit));
    --spaceXs: calc(0.5 * var(--spaceUnit));
    --spaceSm: calc(0.75 * var(--spaceUnit));
    --spaceMd: calc(1.25 * var(--spaceUnit));
    --spaceLg: calc(2 * var(--spaceUnit));
    --spaceXl: calc(3.25 * var(--spaceUnit));
    --spaceXxl: calc(5.25 * var(--spaceUnit));

    /* BORDER RADIUS */
    --borderRadius: 15px;

    /* SHADOWS */
    --dropShadow: 0px 0px 7.3px 0px #00000005;
}


/* ALGEMENE STYLING */
h1 {
    font-size: 2.25rem; /*36px*/
    margin-bottom: var(--spaceUnit);
}
h2 {
    font-size: 1.75rem; /* 28px */
    font-weight: 300;
    margin-bottom: var(--spaceUnit);
}
p {
    font-size: var(--spaceUnit);
}


/* ----- DETAIL PAGINA ------------------------------------------------------------------------------------------------------------------- */
/* top header url en datum links en rechts */
section.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section.topBar p {
    color: var(--detailGreyColor);
    font-size: 1.125rem; /* 18px */
}
section.topBar h2 {
    font-size: 2rem;
    font-weight: 600;
}
/* datum met 2 buttons links en recht */
.dateSection {
    display: none;
    flex-direction: row;
    align-self: flex-end;
    gap: .5rem;
}
.dateSection button {
    box-shadow: var(--dropShadow);
}
.dateSection button:has(img) {
    border-radius: 6px 2px 2px 6px;
    border: unset;
    background: var(--whiteColor);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s ease-out;
}
.dateSection button:has(img):last-of-type {
    border-radius: 2px 6px 6px 2px;
} 
.dateSection button:has(img):hover {
    background-color: var(--mainColor);
    transform: scale(1.05);
}
.dateSection button:has(img):focus {
    border: 2.5px solid var(--mainColor);
}
/* datum tekst */
.date {
    color: var(--textColor);
    font-weight: 600;
    text-transform: lowercase;
    height: 2.5rem;
    background: var(--whiteColor);
    border: unset;
    border-radius: 2px;
    padding: 0 var(--spaceUnit);
}
/* sectie over de scans heen voor de forEach loop */
.allScans {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--spaceUnit);
    /* border: 1px solid red; */
    overflow: hidden;
    overflow-x: scroll;
    
    scroll-snap-type: x mandatory; /* hierdoor scroll je door naar de volgende scan */
}
/* div over de scan heen in de forEach loop */
.containerScan {
    display: grid;
    position: relative;
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start; /* zodat de scroll snap naar het begin van de scan gaat */
    /* border: dashed orange 1px; */
}
/* 2 blokken naast elkaar */
.scanResults {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: var(--spaceUnit);
    margin-top: var(--spaceUnit);
}
/* linker blok 3fr */
.scanResults section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: var(--spaceUnit);
}
.autoScanResult,
.typesErrorChart {
    padding: var(--spaceLg);
    border-radius: var(--borderRadius);
    background-color: var(--whiteColor);
    box-shadow: var(--dropShadow);
    height: -webkit-fill-available;
}
.autoScanResult {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.autoScanResult p {
    margin-bottom: var(--spaceUnit);
    white-space: pre-wrap;
}
.autoScanResult div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
.autoScanResult h3 {
    font-size: var(--resultFont); /* 40px */
    font-weight: 600;
    position: absolute; /* zodat tekst in het midden komt van de chart */
}
.autoScanResult h3 span {
    font-weight: 300;
}
/* autoscan chart */
.singleChart {
    position: relative;
    width: 80%;
}
.circularChart {
    display: block;
    max-width: 60%;
    stroke: var(--orangeColor);
}
.circleBg {
    fill: none;
    stroke: var(--detailOrangeColor);
    stroke-width: 4;
}
.circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.percentage100 {
    stroke: var(--mainColor);
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.typesErrorChart {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}
#typesErrorChart {
    width: fit-content;
    display: none;
}
/* rechter blok 1fr */
.resultErrors {
    display: flex;
    flex-direction: column;
    gap: var(--spaceUnit);
    grid-column: 2;
    grid-row: 1 / span 2;
} 
.resultErrors article {
    background-color: var(--whiteColor);
    box-shadow: var(--dropShadow);
    border-radius: var(--borderRadius);
    padding: var(--spaceUnit);
}
.resultErrors article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--spaceUnit) 0;
}
.resultErrors article h3 {
    font-size: var(--resultFont); /* 40px */
    font-weight: 500;
} 
.resultErrors img {
    width: 40px;
}
/* onderste blok 1fr > toegankelijkheid */
.graphs {
    margin-top: var(--spaceUnit);
    padding: var(--spaceLg);
    border-radius: var(--borderRadius);
    background-color: var(--whiteColor);
    box-shadow: var(--dropShadow);
    height: -webkit-fill-available;
}
table, td, th {  
    border: 1px solid var(--lightGreyColor);
    text-align: left;
    color: var(--textColor);
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
/* Small screen */
.smallScreen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreyColor);
    width: 100%;
    height: calc(100vh - var(--spaceLg));
}
.smallScreen img {
    margin-bottom: var(--spaceLg);
}

/* ----- EINDE DETAIL PAGINA ------------------------------------------------------------------------------------------------------------- */


/* ----- HOME PAGINA---------------------------------------------------------------------------------------------------------------------- */
.home h1 {
    color: var(--mainColor);
}
main:has(ul.sites) {
    background: white;
    border-radius: var(--borderRadius);
    padding: var(--spaceUnit);
}
ul.sites {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--spaceUnit);
}
ul.sites li a {
    text-decoration: none;
    font-family: var(--fontText);
    font-size: var(--spaceUnit);
    margin-bottom: var(--spaceUnit);
    transition: ease-out;
}
ul.sites li a h3 {
    padding: var(--spaceUnit);
    background: var(--lightGreyColor);
    border-radius: var(--borderRadius);
    width: max-content;
    color: var(--textColor);
    box-shadow: var(--dropShadow);
}
ul.sites li a:hover h3 {
    color: var(--mainColor);
}

.jsOffText {
    color: var(--mainColor);
}
/* ----- EINDE HOME PAGINA ------------------------------------------------------------------------------------------------------------- */


/* ----- ALS JAVASCRIPT AANSTAAT LAAT DIT DAN ZIEN ------------------------------------------------------------------------------------- */
@media (scripting: enabled) {
    .dateSection {
        display: flex;
    }
    .allScans {
        gap: unset;
    }
    .jsOffText {
        display: none;
    }
    .typesErrorChart table {
        display: none;
    }
}  


/* -----RESPONSIVE ----------------------------------------------------------------------------------------------------------------------- */
/* tablet */
@media (max-width: 1024px) {
    .scanResults {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .autoScanResult {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .typesErrorChart {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
    }
    #typesErrorChart {
        display: block;
    }
    .resultErrors {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spaceUnit);
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media (max-width: 900px) {
    .smallScreen {
      display: flex;
    }
    .content {
      display: none;
    }
  }